.container1 {
    display: flex;
    flex-direction: column;
    gap: 2rem;  
    align-items: center;  
    h2 {
        font-size: 1.4rem;      
    }

    button {
        width: 150px;
        height: 40px;
        background-color: rgb(27, 201, 149);
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
    }
}