.main {
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  padding: 0 16px;

  form {
    height: 50vh;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;  
    display: flex; 
    

    h2 {
      text-align: center;
      color: #2a5159;
      font-size: 2rem;
    }

    input {
      display: block;
      width: 100%;
      padding: 10px;
      border: 2px solid #2a5159;
      border-radius: 5px;
    }

    button {
      padding: 10px;
      border: 2px solid #2a5159;
      border-radius: 5px;
      font-weight: bold;
      cursor: pointer;
    }
  }
}

.section {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
