* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: #4b5563;
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 14vh;
  border-bottom: 2px solid #b4aeae;
  margin: 0 2rem;

  div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
  }

  h1 {
    font-size: 2.3rem;
    color: #1f2937;
    font-weight: 700;
  }
}

.navHeader {
  width: 45%;

  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 25px;
  }

  li {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      color: #4b5563;
      font-size: 1.4rem;
      transition: 0.3s;

      &:hover {
        color: #2563eb;
      }
    }
  }

  .btnVerdeHeader {
    background-color: #21c05c;
    height: 7vh;
    min-width: 185px;
    border-radius: 8px;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      background-color: #16a34a;
    }

    a {
      color: #fff;
      font-size: 1.1rem;

      &:hover {
        color: #fff;
      }
    }
  }
}

.primeiraSection {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    height: 45vh;
    width: 50%;
    row-gap: 30px;

    h2 {
      color: #1f2937;
      font-weight: 700;
      font-size: 3.5rem;
      width: 95%;
    }

    p {
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 1.3rem;
      width: 85%;
      color: #4b5563;
    }
  }
}

.boxBtnsPrimeiraSection {
  display: flex;
  gap: 15px;
  width: 80%;

  button {
    font-weight: 400;
    font-size: 1.1rem;
    height: 9vh;
    min-width: 172px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    transition: 0.3s;
  }

  .btnVerde {
    background-color: #16a34a;
    color: #fff;

    &:hover {
      background-color: #21c05c;
    }
  }

  .btnBranco {
    color: #2563eb;
    border: 1px solid #2563eb;
    background-color: #fff;
    &:hover {
      background-color: #eeeef1;
    }
  }
}

.estatisticas {
  background-color: #f3f5f8;
  height: 30vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  article {
    text-align: center;
    // display: flex;
    // flex-direction: column;
    // gap: 25px;
    // align-items: center;

    h4 {
      color: #16a34a;
      font-weight: 700;
      font-size: 2.5rem;
    }

    p {
      font-weight: 400;
      font-size: 1rem;
      color: #4b5563;
    }
  }
}

.funcionamento {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .containerTitle {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
    width: 80%;

    h2 {
      font-weight: 700;
      font-size: 2.3rem;
    }

    h3 {
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 1.3rem;
    }
  }

  h2,
  h3 {
    width: 75%;
    color: #1f2937;
  }

  section {
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    article {
      background-color: #f3f5f8;
      border-radius: 10px;
      height: 60vh;
      width: 35%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      div,
      p {
        width: 90%;
      }

      p {
        font-weight: 400;
        font-size: 1rem;
        color: #4b5563;
      }
    }
  }

  .caixaFlexivel {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 8%;
    }

    div,
    h2 {
      width: 90%;
    }

    h2 {
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 1.6rem;
    }

    h3 {
      color: #09090b;
      font-weight: 700;
    }
  }

  .tituloParaDoadores {
    color: #16a34a;
  }

  .tituloParaAdquirentes {
    color: #2563eb;
  }
}

.produtos {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  background-color: #f3f5f8;
  align-items: center;

  .containerTitle {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
    width: 80%;

    h2 {
      font-weight: 700;
      font-size: 2.3rem;
      color: #1f2937;
    }

    h3 {
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 1.3rem;
      color: #4b5563;
    }
  }

  h3,
  h2 {
    width: 90%;
  }

  h2 {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    color: #09090b;
  }

  p {
    font-size: 1rem;
    font-weight: 400;
  }

  section {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 50vh;

    article {
      width: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 50vh;
      padding-bottom: 2rem;
      justify-content: space-between;
      text-align: center;
      background-color: #ffffff;
      border: 2px solid #16a34a;
      border-radius: 8px;

      img {
        width: 100%;
        height: 25vh;
      }

      button {
        background-color: #16a34a;
        color: #fff;
        border: none;
        width: 50%;
        height: 40px;
        border-radius: 6px;
        padding: 0.6rem 1.2rem;
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 1rem;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          background-color: #21c05c;
        }
      }
    }
  }
}

.comentarios {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .containerTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    h2 {
      color: #1f2937;
      font-weight: 700;
      font-size: 2.3rem;
    }

    h3 {
      font-family: "Inter", sans-serif;
      font-weight: 400;
      color: #4b5563;
      font-size: 1.3rem;
    }
  }

  section {
    display: flex;
    justify-content: space-around;
    article {
      width: 25%;
      border: 1px solid #9ca3af;
      border-left: 4px solid #9ca3af;
      border-radius: 8px;
      height: 50vh;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 1.5rem;

      img {
        width: 50%;
      }

      p {
        font-weight: 400;
        font-size: 1rem;
      }
    }
  }

  .caixaFlexivel {
    display: flex;
    align-items: center;
    gap: 15px;

    h4 {
      font-family: "Inter", sans-serif;
      font-weight: 400;
      color: #09090b;
      font-size: 0.9rem;
    }

    h5 {
      font-family: "Inter", sans-serif;
      font-weight: 400;
      color: #6b7280;
      font-size: 0.9rem;
    }

    img {
      width: 15%;
    }
  }
}

.facaParte {
  background-color: #f3f5f8;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .containerTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    h2 {
      color: #000;
      font-weight: 700;
      font-size: 2.3rem;
    }

    h3 {
      font-family: "Inter", sans-serif;
      font-weight: 400;
      color: #000;
      font-size: 1.3rem;
    }
  }

  h2 {
    width: 100%;
    text-align: center;
  }

  h3 {
    width: 50%;
  }

  .containerButtons {
    display: flex;
    gap: 15px;

    button {
      width: 40%;
      min-width: 150px;
      height: 7vh;
      cursor: pointer;
      font-weight: 400;
      font-size: 1rem;
      border: none;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.5s;
    }

    .btnVerde {
      background-color: #16a34a;
      color: #fff;

      &:hover {
        background-color: #21c05c;
      }
    }

    .btnBranco {
      background-color: #f3f5f8;
      color: #16a34a;
      border: 1px solid #16a34a;

      &:hover {
        background-color: #fff;
      }
    }
  }
}

footer {
  background: #1f2937;
  height: 60vh;
  display: flex;
  flex-direction: column;

  p,
  a {
    font-size: 1rem;
    font-weight: 400;
    color: #9ca3af;
  }

  .contentFooter {
    height: 40vh;
    display: flex;
    border-bottom: 2px solid #4b5563;
    margin: 0 2rem;

    article {
      width: 40%;
      height: 30vh;
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-top: 50px;

      nav {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }

      .boxIconsRedesSociais {
        display: flex;
        gap: 12px;
      }
    }

    .caixaFlexivel {
      display: flex;
      gap: 10px;

      img {
        width: 12%;
        min-width: 40px;
      }
    }

    h2,
    h3 {
      color: #fff;
    }

    h2 {
      font-family: "Inter", sans-serif;
      font-weight: bold;
      font-size: 1.4rem;
    }

    h3 {
      font-weight: bold;
      font-size: 1rem;
    }

    .groupArticles {
      display: flex;
      justify-content: space-between;
    }
  }

  .footerDireitosAutorais {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1500px) {
  .funcionamento {
    .containerTitle {
      width: 85%;
    }

    section {
      article {
        width: 40%;
      }
    }
  }

  .produtos {
    .containerTitle {
      width: 85%;
    }

    h3,
    h2 {
      width: 80%;
    }

    p {
      width: 90%;
    }

    section {
      article {
        width: 25%;

        button {
          width: 60%;
          // height: 40px;
        }
      }
    }
  }
}

//responsividade para  header

@media (max-width: 1410px) {
  .navHeader {
    width: 65%;
  }

  .comentarios {
    section {
      article {
        width: 30%;
      }
    }
  }
}

@media (max-width: 1409px) {
  .primeiraSection {
    section {
      h2 {
        font-size: 3rem;
      }

      p {
        font-size: 1.2rem;
      }
    }
  }
}

@media (max-width: 1139px) {
  footer {
    .contentFooter {
      article {
        width: 50%;
      }
    }

    .caixaFlexivel {
      align-items: center;
    }
  }
}

//responsividade  pontual  para  o tamanho da  seção  principal
@media (max-width: 1032px) {
  .primeiraSection {
    section {
      height: auto;
      h2 {
        font-size: 2.7rem;
      }
    }
  }
}

@media (max-width: 1000px) {
  header {
    flex-direction: column;
    height: auto;
    padding: 2rem 0;
    align-items: start;
    gap: 1.2rem;

    div {
      width: 50%;
      justify-content: start;
      gap: 1.2rem;
    }

    h1 {
      font-size: 2rem;
    }
  }

  .navHeader {
    width: 100%;

    ul {
      justify-content: space-between;
    }
  }

  .funcionamento {
    height: 180vh;
    row-gap: 30px;
    justify-content: center;
    .containerTitle {
      width: 80%;
      text-align: center;
      align-items: center;
    }
    section {
      flex-direction: column;
      align-items: center;
      gap: 30px;

      article {
        width: 60%;
        height: 70vh;
      }
    }
  }

  .produtos {
    height: 200vh;
    .containerTitle {
      width: 100%;
      text-align: center;
      align-items: center;

      h3,
      h2 {
        width: 100%;
      }
    }

    section {
      flex-direction: column;
      align-items: center;
      gap: 40px;
      height: 150vh;

      article {
        width: 40%;
      }
    }
  }

  .comentarios {
    height: 180vh;
    .containerTitle {
      width: 100%;
      text-align: center;
    }
    section {
      flex-direction: column;
      align-items: center;
      gap: 20px;

      article {
        width: 40%;
      }
    }
  }

  .facaParte {
    .containerTitle {
      h3 {
        width: 80%;
      }
    }
  }
}

@media (max-width: 982px) {
  footer {
    height: 80vh;
    .contentFooter {
      height: 60vh;
      flex-direction: column;
      article {
        height: 20vh;
      }

      .groupDescription {
        article {
          flex-direction: row;
          width: 75%;
          gap: 0;
        }
      }

      .groupArticles {
        article {
          margin-top: 0;
        }
      }
    }

    .caixaFlexivel {
      align-items: flex-start;
      width: 40%;
    }

    .footerDireitosAutorais {
      height: 20vh;
      padding: 1rem;
      text-align: center;
    }
  }
}

//responsividade tablet

@media (min-width: 501px) and (max-width: 900px) {
  .navHeader {
    ul {
      li {
        a {
          font-size: 1.2rem;
        }
      }
    }

    .btnVerdeHeader {
      a {
        font-size: 0.9rem;
      }
    }
  }

  .primeiraSection {
    flex-direction: column;
    height: auto;
    gap: 30px;

    section {
      height: auto;
      width: 96%;
      align-items: center;
      text-align: center;
      gap: 30px;

      h2 {
        margin-top: 20px;
      }
    }

    .boxBtnsPrimeiraSection {
      justify-content: center;
    }
  }

  .estatisticas {
    article {
      h4 {
        font-size: 2rem;
      }

      p {
        font-size: 0.9rem;
      }
    }
  }

  .funcionamento {
    .containerTitle {
      h2 {
        font-size: 2.1rem;
      }
    }

    section {
      article {
        width: 70%;
      }
    }
  }

  .produtos {
    section {
      article {
        width: 50%;
      }
    }
  }

  .comentarios {
    section {
      article {
        width: 50%;
      }
    }
  }

  footer {
    .contentFooter {
      h2 {
        font-size: 1.2rem;
      }

      .groupDescription {
        article {
          width: 90%;
        }
      }
    }

    .caixaFlexivel {
      width: 50%;
    }
  }
}

//responsividade mobile
@media (min-width: 201px) and (max-width: 500px) {
  header {
    flex-direction: column;
    justify-content: space-evenly;
    height: 20vh;
    padding: 0;

    div {
      width: 70%;

      h1 {
        font-size: 1.5rem;
      }
    }
  }

  .navHeader {
    width: 100%;

    ul {
      flex-wrap: wrap;
      align-content: center;
      gap: 0;

      li {
        a {
          font-size: 0.8rem;
          text-align: center;
        }
      }
    }

    .btnVerdeHeader {
      height: 5vh;
      min-width: 100px;

      a {
        font-size: 0.7rem;
      }
    }
  }

  .primeiraSection {
    flex-direction: column;
    height: auto;
    margin: 0 2rem;
    gap: 25px;

    section {
      width: 100%;

      h2 {
        font-size: 2.2rem;
        text-align: center;
        width: 100%;
        margin-top: 15px;
      }

      p {
        width: 100%;
      }
    }

    .boxBtnsPrimeiraSection {
      button {
        min-width: 150px;
        font-size: 0.9rem;
        height: 7vh;
      }
    }

    .imagemReciclagem {
      width: 80%;
    }
  }

  .estatisticas {
    gap: 23px;
    padding: 0 2rem;
    article {
      h4 {
        font-size: 1.6rem;
      }

      p {
        font-size: 0.8rem;
        min-width: 80px;
      }
    }
  }

  .funcionamento {
    .containerTitle {
      h2 {
        font-size: 2rem;
      }

      p {
        font-size: 1.1rem;
      }
    }

    h2,
    h3 {
      width: 100%;
    }
    section {
      article {
        width: 85%;
      }
    }

    .caixaFlexivel {
      gap: 15px;
      img {
        width: 10%;
        min-width: 35px;
      }
    }
  }

  .produtos {
    .containerTitle {
      h2 {
        font-size: 2rem;
      }
    }
    section {
      article {
        width: 75%;
      }
    }
  }

  .comentarios {
    height: 190vh;
    .containerTitle {
      h2 {
        font-size: 2rem;
      }
    }
    section {
      article {
        width: 75%;
      }
    }
  }

  .facaParte {
    height: 50vh;
    .containerTitle {
      h2 {
        font-size: 2rem;
        width: 90%;
      }
    }
  }

  footer {
    .contentFooter {
      margin: 0 1rem;
      .groupDescription {
        article {
          width: 100%;
          gap: 10px;
          flex-direction: column;
        }
      }
    }

    h2 {
      font-size: 1.2rem;
    }

    p,h3, a {
      font-size: 0.9rem;
    }

    .caixaFlexivel {
      width: 60%;
    }
  }
}
