* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: #4b5563;
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 14vh;
  border-bottom: 2px solid #b4aeae;
  margin: 0 2rem;

  div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
  }

  h1 {
    font-size: 2.3rem;
    color: #1f2937;
    font-weight: 700;
  }
}

.navHeader {
  width: 45%;

  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 25px;
  }

  li {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      color: #4b5563;
      font-size: 1.4rem;
      transition: 0.3s;

      &:hover {
        color: #2563eb;
      }
    }
  }

  .btnVerdeHeader {
    background-color: #21c05c;
    height: 7vh;
    min-width: 185px;
    border-radius: 8px;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      background-color: #16a34a;
    }

    a {
      color: #fff;
      font-size: 1.1rem;

      &:hover {
        color: #fff;
      }
    }
  }
}

.primeiraSection {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    height: 45vh;
    width: 50%;
    row-gap: 30px;

    h2 {
      color: #1f2937;
      font-weight: 700;
      font-size: 3.5rem;
      width: 95%;
    }

    p {
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 1.3rem;
      width: 85%;
      color: #4b5563;
    }
  }
}

.boxBtnsPrimeiraSection {
  display: flex;
  gap: 15px;
  width: 80%;

  button {
    font-weight: 400;
    font-size: 1.1rem;
    height: 9vh;
    min-width: 172px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    transition: 0.3s;
  }

  .btnVerde {
    background-color: #16a34a;
    color: #fff;

    &:hover {
      background-color: #21c05c;
    }
  }

  .btnBranco {
    color: #2563eb;
    border: 1px solid #2563eb;
    background-color: #fff;
    &:hover {
      background-color: #eeeef1;
    }
  }
}

.estatisticas {
  background-color: #f3f5f8;
  height: 30vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  article {
    text-align: center;
    // display: flex;
    // flex-direction: column;
    // gap: 25px;
    // align-items: center;

    h4 {
      color: #16a34a;
      font-weight: 700;
      font-size: 2.5rem;
    }

    p {
      font-weight: 400;
      font-size: 1rem;
      color: #4b5563;
    }
  }
}

.funcionamento {
  height: 70vh;  
  border: 1px solid #556;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  row-gap: 20px;

  .containerTitle {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
    width: 80%;

    h2 {
      font-weight: 700;
      font-size: 2.3rem;
    }

    p {
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      font-size: 1.3rem;
    }
  }

  h2, p {
    width: 75%;
    color: #1F2937;
  }

    section {
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        article {
            background-color: #F3F5F8;
            border-radius: 10px;
            height: 50vh;
            width: 35%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            div, p {
                width: 90%;
            }

            p {
              font-weight: 400;
              font-size: 1rem;
              color: #4B5563;
            }
        }
    }

     .caixaFlexivel {
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            width: 8%;
        }

        div, h2 {
            width: 90%;
        }

        h2 {
          font-family: 'Inter', sans-serif;
          font-weight: 400;
          font-size: 1.6rem;
        }

        h3 {
          color: #09090B;
          font-weight: 700;
        }
    }

    .tituloParaDoadores {
        color: #16A34A;
    }

    .tituloParaAdquirentes {
      color: #2563eb;
    }
  }

//responsividade para  header

@media (max-width: 1410px) {
  .navHeader {
    width: 65%;
  }
}

@media (min-width: 1033px) and (max-width: 1409px) {
  .primeiraSection {
    section {
      h2 {
        font-size: 3rem;
      }

      p {
        font-size: 1.2rem;
      }
    }
  }
}

//responsividade  pontual  para  o tamanho da  seção  principal
@media (max-width: 1032px) {
  .primeiraSection {
    section {
      height: auto;
      h2 {
        font-size: 2.7rem;
      }
    }
  }
}

@media (max-width: 1000px) {
  header {
    flex-direction: column;
    height: auto;
    padding: 2rem 0;
    align-items: start;
    gap: 1.2rem;

    div {
      width: 50%;
      justify-content: start;
      gap: 1.2rem;
    }

    h1 {
      font-size: 2rem;
    }
  }

  .navHeader {
    width: 100%;

    ul {
      justify-content: space-between;
    }
  }
}

//responsividade tablet

@media (min-width: 501px) and (max-width: 900px) {
  .navHeader {
    ul {
      li {
        a {
          font-size: 1.2rem;
        }
      }
    }

    .btnVerdeHeader {
      a {
        font-size: 0.9rem;
      }
    }
  }

  .primeiraSection {
    flex-direction: column;
    height: auto;
    gap: 30px;

    section {
      height: auto;
      width: 96%;
      align-items: center;
      text-align: center;
      gap: 30px;

      h2 {
        margin-top: 20px;
      }
    }

    .boxBtnsPrimeiraSection {
      justify-content: center;
    }
  }

  .estatisticas {
    article {
      h4 {
        font-size: 2rem;
      }

      p {
        font-size: 0.9rem;
      }
    }
  }
}

//responsividade mobile
@media (min-width: 201px) and (max-width: 500px) {
  header {
    flex-direction: column;
    justify-content: space-evenly;
    height: 20vh;
    padding: 0;

    div {
      width: 70%;

      h1 {
        font-size: 1.5rem;
      }
    }
  }

  .navHeader {
    width: 100%;

    ul {
      flex-wrap: wrap;
      align-content: center;
      gap: 0;

      li {
        a {
          font-size: 0.8rem;
          text-align: center;
        }
      }
    }

    .btnVerdeHeader {
      height: 5vh;
      min-width: 100px;

      a {
        font-size: 0.7rem;
      }
    }
  }

  .primeiraSection {
    flex-direction: column;
    height: auto;
    margin: 0 2rem;
    gap: 25px;

    section {
      width: 100%;

      h2 {
        font-size: 2.2rem;
        text-align: center;
        width: 100%;
        margin-top: 15px;
      }

      p {
        width: 100%;
      }
    }

    .boxBtnsPrimeiraSection {
      button {
        min-width: 150px;
        font-size: 0.9rem;
        height: 7vh;
      }
    }

    .imagemReciclagem {
      width: 80%;
    }
  }

  .estatisticas {
    gap: 23px;
    padding: 0 2rem;
    article {
      h4 {
        font-size: 1.6rem;
      }

      p {
        font-size: 0.8rem;
        min-width: 80px;
      }
    }
  }
}
