* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: #4b5563;
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 14vh;
  border-bottom: 2px solid #b4aeae;
  margin: 0 2rem;
}
header div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
}
header h1 {
  font-size: 2.3rem;
  font-weight: bold;
  color: #1f2937;
}

.navHeader {
  width: 45%;
}
.navHeader ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
.navHeader li {
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navHeader li a {
  color: #4b5563;
  font-size: 1.4rem;
  transition: 0.3s;
}
.navHeader li a:hover {
  color: #2563eb;
}
.navHeader .btnVerdeHeader {
  background-color: #21c05c;
  height: 7vh;
  min-width: 185px;
  border-radius: 8px;
  transition: 0.3s;
  cursor: pointer;
}
.navHeader .btnVerdeHeader:hover {
  background-color: #16a34a;
}
.navHeader .btnVerdeHeader a {
  color: #fff;
  font-size: 1.1rem;
}
.navHeader .btnVerdeHeader a:hover {
  color: #fff;
}

.primeiraSection {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.primeiraSection section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  height: 45vh;
  width: 50%;
  row-gap: 30px;
}
.primeiraSection section h2 {
  color: #1f2937;
  font-size: 3.5rem;
  font-weight: bold;
  width: 95%;
}
.primeiraSection section p {
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  width: 85%;
  color: #4b5563;
}

.boxBtnsPrimeiraSection {
  display: flex;
  gap: 15px;
  width: 80%;
}
.boxBtnsPrimeiraSection button {
  font-size: 1.1rem;
  font-weight: 400;
  height: 9vh;
  min-width: 172px;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  transition: 0.3s;
}
.boxBtnsPrimeiraSection .btnVerde {
  background-color: #16a34a;
  color: #fff;
}
.boxBtnsPrimeiraSection .btnVerde:hover {
  background-color: #21c05c;
}
.boxBtnsPrimeiraSection .btnBranco {
  color: #2563eb;
  border: 1px solid #2563eb;
  background-color: #fff;
}
.boxBtnsPrimeiraSection .btnBranco:hover {
  background-color: #eeeef1;
}

.estatisticas {
  background-color: #f3f5f8;
  height: 30vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.estatisticas article {
  text-align: center;
}
.estatisticas article h4 {
  color: #16a34a;
  font-size: 2.5rem;
  font-weight: bold;
}
.estatisticas article p {
  font-size: 1rem;
  font-weight: 400;
  color: #4b5563;
}

.funcionamento {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.funcionamento .containerTitle {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
  width: 80%;
}
.funcionamento .containerTitle h2 {
  font-size: 2.3rem;
  font-weight: bold;
}
.funcionamento .containerTitle h3 {
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
}
.funcionamento h2,
.funcionamento h3 {
  width: 75%;
  color: #1f2937;
}
.funcionamento section {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.funcionamento section article {
  background-color: #f3f5f8;
  border-radius: 10px;
  height: 60vh;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.funcionamento section article div,
.funcionamento section article p {
  width: 90%;
}
.funcionamento section article p {
  font-size: 1rem;
  font-weight: 400;
  color: #4b5563;
}
.funcionamento .caixaFlexivel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.funcionamento .caixaFlexivel img {
  width: 8%;
}
.funcionamento .caixaFlexivel div,
.funcionamento .caixaFlexivel h2 {
  width: 90%;
}
.funcionamento .caixaFlexivel h2 {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}
.funcionamento .caixaFlexivel h3 {
  color: #09090b;
  font-weight: bold;
}
.funcionamento .tituloParaDoadores {
  color: #16a34a;
}
.funcionamento .tituloParaAdquirentes {
  color: #2563eb;
}

.produtos {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #f3f5f8;
  align-items: center;
}
.produtos .containerTitle {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
  width: 80%;
}
.produtos .containerTitle h2 {
  font-size: 2.3rem;
  font-weight: bold;
  color: #1f2937;
}
.produtos .containerTitle h3 {
  font-size: 1.3rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: #4b5563;
}
.produtos h3,
.produtos h2 {
  width: 90%;
}
.produtos section {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 50vh;
}
.produtos section article {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  padding-bottom: 2rem;
  justify-content: space-between;
  text-align: center;
  background-color: #ffffff;
  border: 2px solid #16a34a;
  border-radius: 8px;
}
.produtos section article img {
  width: 100%;
  height: 25vh;
}
.produtos section article button {
  background-color: #16a34a;
  color: #fff;
  border: none;
  width: 50%;
  height: 40px;
  border-radius: 6px;
  padding: 0.6rem 1.2rem;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  transition: 0.3s;
}
.produtos section article button:hover {
  background-color: #21c05c;
}
.produtos section h2 {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: #09090b;
}
.produtos section p {
  font-size: 1rem;
  font-weight: 400;
}

.comentarios {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.comentarios .containerTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.comentarios .containerTitle h2 {
  color: #1f2937;
  font-size: 2.3rem;
  font-weight: bold;
}
.comentarios .containerTitle h3 {
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
}
.comentarios section {
  display: flex;
  justify-content: space-around;
}
.comentarios section article {
  width: 25%;
  border: 1px solid #9ca3af;
  border-left: 4px solid #9ca3af;
  border-radius: 8px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1.5rem;
}
.comentarios section article img {
  width: 50%;
}
.comentarios section article p {
  font-size: 1rem;
  font-weight: 400;
}
.comentarios .caixaFlexivel {
  display: flex;
  align-items: center;
  gap: 15px;
}
.comentarios .caixaFlexivel h4 {
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  color: #09090b;
}
.comentarios .caixaFlexivel h5 {
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  color: #6b7280;
}
.comentarios .caixaFlexivel img {
  width: 15%;
}

.facaParte {
  background-color: #f3f5f8;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.facaParte .containerTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.facaParte .containerTitle h2 {
  font-size: 2.3rem;
  font-weight: bold;
  color: #000;
}
.facaParte .containerTitle h3 {
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  color: #000;
}
.facaParte h2 {
  width: 100%;
  text-align: center;
}
.facaParte h3 {
  width: 50%;
}
.facaParte .containerButtons {
  display: flex;
  gap: 15px;
}
.facaParte .containerButtons button {
  font-size: 1rem;
  font-weight: 400;
  width: 40%;
  min-width: 150px;
  height: 7vh;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
.facaParte .containerButtons .btnVerde {
  background-color: #16a34a;
  color: #fff;
}
.facaParte .containerButtons .btnVerde:hover {
  background-color: #21c05c;
}
.facaParte .containerButtons .btnBranco {
  background-color: #f3f5f8;
  color: #16a34a;
  border: 1px solid #16a34a;
}
.facaParte .containerButtons .btnBranco:hover {
  background-color: #fff;
}

footer {
  background: #1f2937;
  height: 60vh;
  display: flex;
  flex-direction: column;
}
footer p,
footer a {
  font-size: 1rem;
  font-weight: 400;
  color: #9ca3af;
}
footer .contentFooter {
  height: 40vh;
  display: flex;
  border-bottom: 2px solid #4b5563;
  margin: 0 2rem;
}
footer .contentFooter article {
  width: 40%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
}
footer .contentFooter article nav {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
footer .contentFooter article .boxIconsRedesSociais {
  display: flex;
  gap: 12px;
}
footer .contentFooter .caixaFlexivel {
  display: flex;
  gap: 10px;
}
footer .contentFooter .caixaFlexivel img {
  width: 12%;
  min-width: 40px;
}
footer .contentFooter h2,
footer .contentFooter h3 {
  color: #fff;
}
footer .contentFooter h2 {
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
}
footer .contentFooter h3 {
  font-size: 1rem;
  font-weight: bold;
}
footer .contentFooter .groupArticles {
  display: flex;
  justify-content: space-between;
}
footer .contentFooter .groupDescription article {
  width: 70%;
}
footer .footerDireitosAutorais {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1500px) {
  .funcionamento .containerTitle {
    width: 85%;
  }
  .funcionamento section article {
    width: 40%;
  }
  .produtos .containerTitle {
    width: 85%;
  }
  .produtos h3,
  .produtos h2 {
    width: 80%;
  }
  .produtos p {
    width: 90%;
  }
  .produtos section article {
    width: 25%;
  }
  .produtos section article button {
    width: 60%;
  }
}
@media (max-width: 1410px) {
  .navHeader {
    width: 65%;
  }
  .comentarios section article {
    width: 30%;
  }
}
@media (max-width: 1409px) {
  .primeiraSection section h2 {
    font-size: 3rem;
  }
  .primeiraSection section p {
    font-size: 1.2rem;
  }
}
@media (max-width: 1139px) {
  footer .contentFooter article {
    width: 50%;
  }
  footer .caixaFlexivel {
    align-items: center;
  }
}
@media (max-width: 1032px) {
  .primeiraSection section {
    height: auto;
  }
  .primeiraSection section h2 {
    font-size: 2.7rem;
  }
}
@media (max-width: 1000px) {
  header {
    flex-direction: column;
    height: auto;
    padding: 2rem 0;
    align-items: start;
    gap: 1.2rem;
  }
  header div {
    width: 50%;
    justify-content: start;
    gap: 1.2rem;
  }
  header h1 {
    font-size: 2rem;
  }
  .navHeader {
    width: 100%;
  }
  .navHeader ul {
    justify-content: space-between;
  }
  .funcionamento {
    height: 180vh;
    row-gap: 30px;
    justify-content: center;
  }
  .funcionamento .containerTitle {
    width: 80%;
    text-align: center;
    align-items: center;
  }
  .funcionamento section {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .funcionamento section article {
    width: 60%;
    height: 70vh;
  }
  .produtos {
    height: 200vh;
  }
  .produtos .containerTitle {
    width: 100%;
    text-align: center;
    align-items: center;
  }
  .produtos .containerTitle h3,
  .produtos .containerTitle h2 {
    width: 100%;
  }
  .produtos section {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    height: 150vh;
  }
  .produtos section article {
    width: 40%;
  }
  .comentarios {
    height: 180vh;
  }
  .comentarios .containerTitle {
    width: 100%;
    text-align: center;
  }
  .comentarios section {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .comentarios section article {
    width: 40%;
  }
  .facaParte .containerTitle h3 {
    width: 80%;
  }
}
@media (max-width: 982px) {
  footer {
    height: 80vh;
  }
  footer .contentFooter {
    height: 60vh;
    flex-direction: column;
  }
  footer .contentFooter article {
    height: 20vh;
  }
  footer .contentFooter .groupDescription article {
    flex-direction: row;
    width: 75%;
    gap: 0;
  }
  footer .contentFooter .groupArticles article {
    margin-top: 0;
  }
  footer .caixaFlexivel {
    align-items: flex-start;
    width: 40%;
  }
  footer .footerDireitosAutorais {
    height: 20vh;
    padding: 1rem;
    text-align: center;
  }
}
@media (min-width: 501px) and (max-width: 900px) {
  .navHeader ul li a {
    font-size: 1.2rem;
  }
  .navHeader .btnVerdeHeader a {
    font-size: 0.9rem;
  }
  .primeiraSection {
    flex-direction: column;
    height: auto;
    gap: 30px;
  }
  .primeiraSection section {
    height: auto;
    width: 96%;
    align-items: center;
    text-align: center;
    gap: 30px;
  }
  .primeiraSection section h2 {
    margin-top: 20px;
  }
  .primeiraSection .boxBtnsPrimeiraSection {
    justify-content: center;
  }
  .estatisticas article h4 {
    font-size: 2rem;
  }
  .estatisticas article p {
    font-size: 0.9rem;
  }
  .funcionamento .containerTitle h2 {
    font-size: 2.1rem;
  }
  .funcionamento section article {
    width: 70%;
  }
  .produtos section article {
    width: 50%;
  }
  .comentarios section article {
    width: 50%;
  }
  footer .contentFooter h2 {
    font-size: 1.2rem;
  }
  footer .contentFooter .groupDescription article {
    width: 90%;
  }
  footer .caixaFlexivel {
    width: 50%;
  }
}
@media (min-width: 201px) and (max-width: 500px) {
  header {
    flex-direction: column;
    justify-content: space-evenly;
    height: 20vh;
    padding: 0;
  }
  header div {
    width: 70%;
  }
  header div h1 {
    font-size: 1.5rem;
  }
  .navHeader {
    width: 100%;
  }
  .navHeader ul {
    flex-wrap: wrap;
    align-content: center;
    gap: 0;
  }
  .navHeader ul li a {
    font-size: 0.8rem;
    text-align: center;
  }
  .navHeader .btnVerdeHeader {
    height: 5vh;
    min-width: 100px;
  }
  .navHeader .btnVerdeHeader a {
    font-size: 0.7rem;
  }
  .primeiraSection {
    flex-direction: column;
    height: auto;
    margin: 0 2rem;
    gap: 25px;
  }
  .primeiraSection section {
    width: 100%;
  }
  .primeiraSection section h2 {
    font-size: 2.2rem;
    text-align: center;
    width: 100%;
    margin-top: 15px;
  }
  .primeiraSection section p {
    width: 100%;
  }
  .primeiraSection .boxBtnsPrimeiraSection button {
    min-width: 150px;
    font-size: 0.9rem;
    height: 7vh;
  }
  .primeiraSection .imagemReciclagem {
    width: 80%;
  }
  .estatisticas {
    gap: 23px;
    padding: 0 2rem;
  }
  .estatisticas article h4 {
    font-size: 1.6rem;
  }
  .estatisticas article p {
    font-size: 0.8rem;
    min-width: 80px;
  }
  .funcionamento .containerTitle h2 {
    font-size: 2rem;
  }
  .funcionamento .containerTitle p {
    font-size: 1.1rem;
  }
  .funcionamento h2,
  .funcionamento h3 {
    width: 100%;
  }
  .funcionamento section article {
    width: 85%;
  }
  .funcionamento .caixaFlexivel {
    gap: 15px;
  }
  .funcionamento .caixaFlexivel img {
    width: 10%;
    min-width: 35px;
  }
  .produtos .containerTitle h2 {
    font-size: 2rem;
  }
  .produtos section article {
    width: 75%;
  }
  .comentarios {
    height: 190vh;
  }
  .comentarios .containerTitle h2 {
    font-size: 2rem;
  }
  .comentarios section article {
    width: 75%;
  }
  .facaParte {
    height: 50vh;
  }
  .facaParte .containerTitle h2 {
    font-size: 2rem;
    width: 90%;
  }
  footer .contentFooter {
    margin: 0 1rem;
  }
  footer .contentFooter .groupDescription article {
    width: 100%;
    gap: 10px;
    flex-direction: column;
  }
  footer h2 {
    font-size: 1.2rem;
  }
  footer p,
  footer h3,
  footer a {
    font-size: 0.9rem;
  }
  footer .caixaFlexivel {
    width: 60%;
  }
}/*# sourceMappingURL=styles.css.map */