* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  font-family: "Arial", sans-serif;
  height: 100vh;
  padding-top: 55px;
  text-align: center;
}

.form-container {
  display: inline-block;
  width: 400px;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgb(0, 0, 0, 0.3);
  padding: 40px 30px;
  h1 {
    margin-bottom: 25px;
    font-size: 22px;
    color: #222;
  }

  form {
    input[type="text"],
    input[type="email"],
    input[type="password"] {
      display: block;
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border-radius: 8px;
      border: 1px solid #ccc;
    }

    .input-row {
      padding-top: 15px;
      input {
        width: 43%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 8px;
        font-size: 14px;
        display: inline-block;
      }

      input:first-child {
        margin-right: 40px;
      }
    }
  }

  .checkbox {
    display: block;
    text-align: center;
    font-size: 13px;
    color: #555;
    margin: 10px 0;

    
    a {
      color: #2764c0;
      text-decoration: none;
      display: inline-block;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

button {
    width: 100%;
    font-size: 18px;
    margin-top: 10px;
    padding: 12px;
    border-radius: 8px;
    background-color: #87dd8e;
    color: #fff;
    border: none;
    font-weight: bold;
    transition: 0.3s;

    &:hover {
      background-color: rgb(92, 198, 124);
    }
}
