* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chau Philomene One", sans-serif;
}

$gray: #d7cbcb;
$white: #fff;
$black: #000;
$red-principal: #b72222;
$red-secundario: #fd1e1e;
$weight: 400;

@mixin gerarContainerFlexivelCentralizado {
  display: flex;
  justify-content: center;
}

@mixin definirTamanhoForcaFonte($font-size, $font-weight) {
  font-size: $font-size;
  font-weight: $font-weight;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  padding: 1.5rem 2rem;
  height: 100vh;
  background-image: url(./imagens/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: $gray;
  background-position: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;

  .menu-icon {
    font-size: 1.8rem;
    color: $white;
  }
}

.nav-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25vw;

  .btn {
    background-color: $red-principal;
    color: $gray;
    height: 100%;
    padding: 0.6rem 1.2rem;
    @include definirTamanhoForcaFonte(1.2rem, $weight);
  }
}

.box-content {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;

  h1 {
    @include definirTamanhoForcaFonte(6.5rem, $weight)  
  }

  p {
    color: $red-secundario;
    @include definirTamanhoForcaFonte(2.7rem, $weight)  
  }
}

.description {
  background-color: $gray;
  color: $black; 
  height: 200px;
  padding: 25px;
  @include definirTamanhoForcaFonte(1.8rem, $weight)
}

.etapas {
  background-color: $black;
  color: $white;
  align-content: center;
  flex-wrap: wrap;
  gap: 30px;
  height: 1200px;
  @include gerarContainerFlexivelCentralizado();

  article {
    width: 400px;
    height: 500px;
    background-color: $red-principal;
    position: relative;
    flex-direction: column;
    align-items: center;
    @include gerarContainerFlexivelCentralizado();
  }

  img {
    width: 90%;
    height: 90%;
  }

  p {  
    position: absolute;
    bottom: 40px;
    left: 30px;
    width: 230px;
    @include definirTamanhoForcaFonte(1.6rem, $weight)
  
  }
}
