.container3{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    h2 {
        font-size: 1.4rem;
    }

    button {
        width: 80px;
        height: 40px;
        color: white;
        background-color: blue;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}

.quadrado {
    width: 200px;
    height: 200px;   
}